{% extends 'base.html.twig' %}

{% block title %}Delivery Management System{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="content">
            <h1>Enregistrer une livraison</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <hr>
            {{ include ('/base/_delivery_form.html.twig')}}
        </div>
    </div>

{% endblock %}
